#syf-error-message {
	color: red;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	width: 100%;
	margin: 10px 10px 10px 0px;
	max-width: 350px;
	padding: 10px;
}
.MPPAnywhereClass, .MPPAnywhereClass img, .MPPAnywhereClass a{
	cursor: pointer;
}
@media (min-width: 768px){
.cart-collaterals ~ .sync-price {
	width: 52.9411764706%;
	float: right;
	margin-right: 0;
	margin: 0;
	clear: right;
}
}

.syf_product_price {
	display: none;
}